<h1> Payment </h1>

<form action="/payment/results">
<label for="APR">APR</label>
<input id="APR" type="text" placeholder="APR" name="APR">

<label for="Number of years">Number of years</label>
<input id="Number of years" type="text" placeholder="Number of years" name="Number of years">

<label for="principal">Principal</label>
<input id="principal" type="text" placeholder="principal" name="principal">
<button>Calculate monthly payment</button>
</form>