<h1>Howdy</h1>

<form action="/random/results">
<label for="giraffe">Minimum</label>
<input id="giraffe" type="text" placeholder="Lower Bound" name="user_min">

<label for="giraffe2">Maximum</label>
<input id="giraffe2" type="text" placeholder="Upper Bound" name="user_max">
<button>Pick random number </button>
</form>
