<h1>hi</h1>

<form action="/square_root/results">
<label for="giraffe">Enter a number</label>
<input id="giraffe" type="text" placeholder="What number do you want to square" name="textVal">
<button>Calculate square root </button>
</form>
